body {
	font-family: sans-serif;
	font-size: 12px;
}

#entitylist {
	min-height: 200px;
}

.tabSection {
	display: none;
}

#personasTab {
	display: block;
}

#rolesButton {
	display: none;
}

#permisosButton {
	display: none;
}

input[type=text],input[type=number],input[type=password],input[type=date], textarea  {
	background: white;
	color: #222;
	border: 1px solid gray;
	border-radius: 3px;
}

