form header{
	margin-bottom: 1%;
	margin-top: 0px;
}

form {
	margin-top:2%;
	padding-bottom:1%;
	background-color: #ecf0f1;
}

header h3 {
	text-align: center;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-top: 1px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}