.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
#reputacion {
	font-size: 2em;
}
.tabla input[disabled] {
	background-color: transparent;
	border: none;
	cursor: auto;
	box-shadow: none;
	padding: 0;
	height: auto;
	color: #000;
}
.tabla input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.tabla input[disabled]::-moz-placeholder {
    color: #333;
}
.tabla .filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
#foto_perfil {
	margin-bottom: 0.5em;
}

.panel{
    background-color: #ecf0f1;
}

