header h3 {
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 1px;
}
.tabla input[disabled] {
	background-color: transparent;
	border: none;
	cursor: auto;
	box-shadow: none;
	padding: 0;
	height: auto;
	color: #000;
}
.tabla td {
    color: #000;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
#foto_vehiculo {
	margin-bottom: 0.5em;
}