<web-app>
    <servlet>
        <servlet-name>usuarios</servlet-name>
        <servlet-class>controladores.ControladorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>usuarios</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>

</web-app>
